![](Images/ERDiagramProject4.png)

In [0]:
import sqlite3

connectionToDatabase = sqlite3.connect('ChelseaSoccerStadium') 
cursor = connectionToDatabase.cursor()

In [0]:
#drops game table if exists
cursor.execute('''drop table IF EXISTS game''')
connectionToDatabase.commit()

In [0]:
#creates game table
cursor.execute('''create table game (gameID text PRIMARY KEY, opponentID text, dateID text, gameTime text)''')
connectionToDatabase.commit()

In [0]:
#inserts data into game table
gameID = [1,2,3,4,5]
opponentID = ["Arsenal", "Manchester United", "Liverpool", "Aston Villa", "West Ham"]
dateID = ["10/26/19", "10/30/19", "11/4/19", "11/14/2019", "11/23/19"] 
gameTime = ["7:00pm", "3:00pm", "11:00am", "7:00pm", "1:30pm"]

for i in range(len(gameID)):
  g = gameID[i]
  o = opponentID[i]
  d = dateID[i]
  t = gameTime[i]
  insertStatement =  """insert into game values ("%s","%s","%s","%s")""" % (g,o, d, t)
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

In [0]:
#prints data from game
cursor.execute('''select * from Game''')
for row in cursor.fetchall():
  print (row)

('1', 'Arsenal', '10/26/19', '7:00pm')
('2', 'Manchester United', '10/30/19', '3:00pm')
('3', 'Liverpool', '11/4/19', '11:00am')
('4', 'Aston Villa', '11/14/2019', '7:00pm')
('5', 'West Ham', '11/23/19', '1:30pm')

In [0]:
#drop ticket table if it exists
cursor.execute('''drop table IF EXISTS tickets''')
connectionToDatabase.commit()

In [0]:
#creates tickets table
cursor.execute('''create table tickets (ticketID text PRIMARY KEY, gameID text, seatNum text, status text, price real )''')
connectionToDatabase.commit()

In [0]:
#inserts data into ticket table
ticketID = ["1:6", "1:406", "2:406", "4:15", "3:168", "1:9863", "1:847", "1:1976"]
gameID = ["1", "1", "2", "4", "3", "1", "1", "1"]
seatNum = ["6", "406", "406", "15", "168", "9863", "847", "1976"]
status = ["Sold", "NotSold", "NotSold", "Sold", "Sold", "Sold", "Sold", "Sold"]
price = [55, 63.50, 40, 98, 85, 40, 50, 75]
for i in range(len(ticketID)):
  t = ticketID[i]
  g = gameID[i]
  s = seatNum[i]
  st = status[i]
  p = price[i]
  insertStatement =  """insert into tickets values ("%s","%s","%s","%s","%s")""" % (t, g, s, st, p)
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

In [0]:
#prints data from tickets table
cursor.execute('''select * from tickets''')
for row in cursor.fetchall():
  print (row)

('1:6', '1', '6', 'Sold', 55.0)
('1:406', '1', '406', 'NotSold', 63.5)
('2:406', '2', '406', 'NotSold', 40.0)
('4:15', '4', '15', 'Sold', 98.0)
('3:168', '3', '168', 'Sold', 85.0)
('1:9863', '1', '9863', 'Sold', 40.0)
('1:847', '1', '847', 'Sold', 50.0)
('1:1976', '1', '1976', 'Sold', 75.0)

In [0]:
#creates transaction table
cursor.execute('''drop table IF EXISTS transact''') 
connectionToDatabase.commit()
cursor.execute('''create table transact (transactionID text PRIMARY KEY, ticketID text, Customer text, PurchasePrice REAL )''') #transaction is a reserved variable in sql, so we used transact.
connectionToDatabase.commit()

In [0]:
#insert data into transaction table
transactionID = ["1", "2", "3", "4", "5", "6"]
ticketID = ["1:6", "4:15", "3:168", "1:9863", "1:847", "1:1976" ]
customer = ["Steve", "Maggie", "Alex", "Johnson", "Yaowen", "Alex"]
purchasePrice = [55, 98, 85, 40, 50, 75]
for i in range(len(ticketID)):
  tr = transactionID[i]
  t = ticketID[i]
  c = customer[i]
  p = purchasePrice[i]
  insertStatement =  """insert into transact values ("%s","%s","%s","%s")""" % (tr, t, c, p)
  cursor.execute(insertStatement)
  connectionToDatabase.commit()

In [0]:
#prints data from transaction table
cursor.execute('''select * from transact''')
for row in cursor.fetchall():
  print (row)

('1', '1:6', 'Steve', 55.0)
('2', '4:15', 'Maggie', 98.0)
('3', '3:168', 'Alex', 85.0)
('4', '1:9863', 'Johnson', 40.0)
('5', '1:847', 'Yaowen', 50.0)
('6', '1:1976', 'Alex', 75.0)

In [0]:
#creates opponent table
cursor.execute('''drop table IF EXISTS opponent''')
connectionToDatabase.commit()
cursor.execute('''create table opponent (opponentID text PRIMARY KEY, record text, rival text)''')
connectionToDatabase.commit()

In [0]:
#inserts data into opponent table
opponentID = ["Arsenal", "Manchester United", "Liverpool", "Aston Villa", "West Ham"]
record = ["4-5-3", "4-4-4", "11-1-0", "3-2-7", "3-4-5"]
rival = ["Rival", "Rival", "Non-Rival", "Non-Rival", "Non-Rival"]
for i in range(len(opponentID)):
  o = opponentID[i]
  r = record[i]
  ri = rival[i]
  insertStatement =  """insert into opponent values ("%s","%s","%s")""" % (o, r, ri)
  cursor.execute(insertStatement)
  connectionToDatabase.commit()

In [0]:
#prints data from opponent table
cursor.execute('''select * from opponent''')
for row in cursor.fetchall():
  print (row)

('Arsenal', '4-5-3', 'Rival')
('Manchester United', '4-4-4', 'Rival')
('Liverpool', '11-1-0', 'Non-Rival')
('Aston Villa', '3-2-7', 'Non-Rival')
('West Ham', '3-4-5', 'Non-Rival')

In [0]:
#creates date table
cursor.execute('''drop table IF EXISTS date''')
connectionToDatabase.commit()
cursor.execute('''create table date (dateID text PRIMARY KEY, temperature int, weatherType text)''')
connectionToDatabase.commit()

In [0]:
#insert data into date table
dateID = ["10/26/19", "10/30/19", "11/4/19", "11/14/2019", "11/23/19"]
temperature = [68, 54, 60, 40, 45]
weatherType = ["sunny", "overcast", "rain", "rain", "overcast"]
for i in range(len(dateID)):
  d = dateID[i]
  t = temperature[i]
  w = weatherType[i]
  insertStatement =  """insert into date values ("%s","%s","%s")""" % (d, t, w)
  cursor.execute(insertStatement)
  connectionToDatabase.commit()

In [0]:
#all info from date table
cursor.execute('''select * from date''')
for row in cursor.fetchall():
  print (row)

('10/26/19', 68, 'sunny')
('10/30/19', 54, 'overcast')
('11/4/19', 60, 'rain')
('11/14/2019', 40, 'rain')
('11/23/19', 45, 'overcast')

In [0]:
#Gets all tables, this is check if all tables are working correctly.
print("Game Table")
cursor.execute('''select * from Game''')
for row in cursor.fetchall():
  print (row)
print("Tickets Table")
cursor.execute('''select * from tickets''')
for row in cursor.fetchall():
  print (row)
print("Transaction Table")
cursor.execute('''select * from transact''')
for row in cursor.fetchall():
  print (row)
print("Opponent Table")
cursor.execute('''select * from opponent''')
for row in cursor.fetchall():
  print (row)
print("Date Table")
cursor.execute('''select * from date''')
for row in cursor.fetchall():
  print (row)

Game Table
('1', 'Arsenal', '10/26/19', '7:00pm')
('2', 'Manchester United', '10/30/19', '3:00pm')
('3', 'Liverpool', '11/4/19', '11:00am')
('4', 'Aston Villa', '11/14/2019', '7:00pm')
('5', 'West Ham', '11/23/19', '1:30pm')
Tickets Table
('1:6', '1', '6', 'Sold', 55.0)
('1:406', '1', '406', 'NotSold', 63.5)
('2:406', '2', '406', 'NotSold', 40.0)
('4:15', '4', '15', 'Sold', 98.0)
('3:168', '3', '168', 'Sold', 85.0)
('1:9863', '1', '9863', 'Sold', 40.0)
('1:847', '1', '847', 'Sold', 50.0)
('1:1976', '1', '1976', 'Sold', 75.0)
Transaction Table
('1', '1:6', 'Steve', 55.0)
('2', '4:15', 'Maggie', 98.0)
('3', '3:168', 'Alex', 85.0)
('4', '1:9863', 'Johnson', 40.0)
('5', '1:847', 'Yaowen', 50.0)
('6', '1:1976', 'Alex', 75.0)
Opponent Table
('Arsenal', '4-5-3', 'Rival')
('Manchester United', '4-4-4', 'Rival')
('Liverpool', '11-1-0', 'Non-Rival')
('Aston Villa', '3-2-7', 'Non-Rival')
('West Ham', '3-4-5', 'Non-Rival')
Date Table
('10/26/19', 68, 'sunny')
('10/30/19', 54, 'overcast')
('11/4/19', 60, 'rain')
('11/14/2019', 40, 'rain')
('11/23/19', 45, 'overcast')

How many tickets have been sold for each game?

In [0]:
cursor.execute('''select gameID, count(ticketID) from tickets where status = "Sold" group by gameID ''')
for row in cursor.fetchall():
  print (row)

('1', 4)
('3', 1)
('4', 1)

This question gives the soccer club the number of tickets sold for each game, therefor giving them the expected attendence for upcoming games. This lets them plan for the amount of staff and security they will need for each game. If they find a game that has low ticket sales, they may lower prices to increase sales. The data is as expected, in the transaction table 4 tickets have been sold for game 1 and 1 ticket for games 3 and 4.

What is the average ticket price of sold tickets for each game?

In [0]:
cursor.execute(''' select ti.gameID, avg(tr.PurchasePrice) from tickets ti, transact tr where ti.ticketID = tr.TicketID group by ti.gameID ''')
for row in cursor.fetchall():
  print (row)

('1', 55.0)
('3', 85.0)
('4', 98.0)

This question allows the owners of the soccer club to analyze the differecnce in the ticket prices of each game. This will allow owners to better adjust thier starting ticket prices in the future based on this information. They can notice trends in thier ticket pricces and better plan for the future. The data recieved from the query is as expected from the data entered. The average price for each game equals what can be manually calculated for the limited number of entries.

Which 5 fans have attended the most games?

In [0]:
cursor.execute('''select customer, count(transactionID) from transact group by customer limit 5''')
for row in cursor.fetchall():
  print (row)

('Alex', 2)
('Johnson', 1)
('Maggie', 1)
('Steve', 1)
('Yaowen', 1)

This can be used for the club to find their most loyal fans and reward them. This allows the club to further incentivise their fans to attend more games during the season if they know they can recieve rewards. The output data recieved from the query was expected. The transaction table had 6 transactions where 4 customer have bought 1 ticket and 1 has bought 2.